<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="/menu-transacoes/{{id}}">MyBank</a></h3>
        </div>

        <ul class="list-unstyled components">
            <p>Operações</p>
            <li>
                <a href="extrato/{{id}}">Extrato</a>
            </li>
            <li>
                <a href="sacar/{{id}}">Sacar</a>
            </li>
            <li>
                <a href="depositar/{{id}}">Depositar</a>
            </li>
            <li>
                <a href="/">Sair</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1>Olá {{nome}}</h1>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h2>Seu saldo atual é de R$ {{saldo}}</h2>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h2>Conta: {{num_conta}}</h2>
        </nav>
    </div>


</div>   